.bi{
  fill: currentColor;
}
.center{
  display: grid;
  justify-items: center;  
}
.grid{
  display: grid;
}
.align-content__space-between{
  align-content: space-between;
}
.justify-between{
  justify-content: space-between;
}
.left-small{
  margin-left: 1rem;
}
img{
  width: 100%;
}
button{
  border-radius: 2.5px;
  background-color: #fff3cd;
}
.bg-blue-dark{
  background-color: #1f2937
}
.w100{
  width: 100%;
}
.text-shadow{
  opacity: 0.35;
}
.forms{
  margin: 0 auto;
  margin-top: 24px;
  width: 90%;
  word-break: break-word;
}
.forms-fields-width{
  width: 40%;
}
.form{
  min-height: 54px;
  min-width: 240px;
  padding: 0 1.5rem;
  border: 1px solid #808080;
  border-radius: 5px;
  color: #adb5bd;
  background-color: #212529;
}
.check-box{
  float: left;
  margin-left: -1.5em;
}
.reviews-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 0 auto;
}
.text-decoration-uline{
  text-decoration: underline;
}
.text-decoration-uline:hover{
  text-decoration: none;
}
.dropdown-links{
  padding-top: 0px !important;
  margin: 0;
  padding-bottom: 0px !important;
}
.no-margin{
  margin: 0;
}
.margin-top-upper{
  margin-top: 3.5%;
}
.text-hover-white:hover{
  color: #ffffff;
  text-decoration: underline;  
}
.text-hover-white{
  text-decoration: none;
}
.dropdown-link-colors{
  background-color: #ffffff;
  color: #000000;
  padding: 10px 10px;
}
.border-radius-top{
  border-radius: 5px 5px 0px 0px;
}
.border-radius-bottom{
  border-radius: 0px 0px 5px 5px;
}
.dropdown-link-colors:hover{
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  color: #ffffff;
}
#products{
  cursor: pointer;
}